<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>ALWAYS</string>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>0</integer>
    <key>EXUpdatesURL</key>
    <string>https://u.expo.dev/74f0a115-1928-4581-86d2-a81a2f76d355</string>
    <key>EXUpdatesRuntimeVersion</key>
    <string>1.1.11</string>
  </dict>
</plist>